body{
	 font-family:'Montserrat';
	 text-align:center;
} 

h1,h2,h3,h4,h5,h6{
	 font-family:"montserrat-bold";
}

p{
	 color:#8f8f8f;
}
	

/*heading*/


.big-heading{
	 font-family: 'Montserrat-black', sans-serif;
	 line-height:1.5;
	 font-size:3.5rem;
	 font-weight:bold;
}

.section-heading{
	font-size:3rem;
	line-height;1.5;
}


/*container-section*/


.container-fluid{
	 padding:7% 15%;
}


/*colored-section*/


.pink-section{
     background-color:#ff4c68;
	 color:#fff;
}

.light-section{
	background-color:#f8f3eb;
}


/*navigation-bar*/


.navbar{
	 padding: 0 0 4.5rem;
}

.navbar-brand{
  	 font-family:'Ubuntu',sans-serif;
	 font-size:2.5rem;
	
}

.nav-item{
	 padding:0px 18px;
}

.nav-link{
	 font-size:1.2rem;
	 font-family:Montserrat-light;
}


/*title-section*/


#title .container-fluid{
	padding:3% 15% 7%;
	text-align:left;
}

.title-image{
	 width:60%;
	 transform:rotate(25deg);
	 position:absolute;
	 right:25%;
} 

.download-button{
	 margin:5% 3% 5% 0;
}


/*features*/


#features{
	 position:relative;
	 z-index:1;
}

.feature-title{
	font-size:1.5rem;
}
.feature-box{
	 padding:5%;
}

.icon{
	 color:#ef8172;
	 margin-bottom:2rem;
}

.icon:hover{
	 color:#ff4c68;
}
 
 
/*testimonial section*/
 
 
#testimonials{
	 background-color:#ef8172;
}

.testimonial-image{
	 width:20%;
	 border-radius:100%;
	 margin:20px;
}
.testimonial-text{
	font-size:3rem;
	line-height;1.5;
}
 
 
 /*press*/


#press{
	 background-color:#ef8172;
	 padding-bottom:3%;
}

.press-logo{
	 width:15%;
	 margin:20px 20px 50px;
}

.price-text{
	font-size:3rem;
	line-height:1.5;
}


/*pricing*/


#pricing{
	 padding:100px;
}

.pricing-column{
	 padding:3% 2%;
	 background-color:#ff4c68;
}



/* call to action section*/


/*call to action section ends*/


/*footer*/


.social-icon {
	 margin:20px 10px;
}


/*media-query*/


@media(max-width:1028px){
	 
	 #title{
		 text-align:center;
	 }
	
	 .title-image{
		 position:static;
		 transform:rotate(0);
	 }
}